/* Hero Layout
======================*/

.hero {
  background: url(../img/work-table-bg.png) no-repeat center center;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  display: table;
  width: 100%;
  padding-top: 25%;
}

.hero .intro {
  padding: 3rem;
  position: relative;
  top: 50%;
  transform: translateY(-55%);
  }

h1 {
  color: #fff;
  font-size: 3em;
  line-height: 1.5em;
  letter-spacing: -0.025em;
  font-weight: 300;
  text-align: center;
  text-shadow: 2px 2px black;


}

h2 {
  color: #fff;
  font-size: 1.8em;
  line-height: 1.5em;
  letter-spacing: -0.025em;
  font-weight: 300;
  text-align: center;
}

.intro h2 {
  text-shadow: 2px 2px black;
}


/* Job Postings
======================*/

.postings {
  padding-top: 0.7em;
  margin-left: 10%;
  margin-right: 10%;
}

.postings h2 {
  text-align: left;
  color: black;
  padding-bottom: 0.4em;
}

/* Modal
======================*/
#interestedJobberModal1, #interestedJobberModal2, #interestedJobberModal2, #interestedJobberModal3, #interestedJobberModal4, #interestedJobberModal5, #interestedJobberModal6, #interestedJobberModal7, #interestedJobberModal8 {
  text-align: center;
}

img {
  border-radius: 52px;
}

p {
  padding-top: 1em;
}

form {
  max-width: 450px;
  max-height: 500px;
  margin: 0 auto;
}
