/* Styles specific to the Post a Bid page */
#map {
  height: 100%;
  min-height: 500px;
  min-width: 500px;
}

h4 {
  color: black;
}

/* Info box styles
===================*/

#content {
  width: 500px;
  text-align: left;
}

.payment-info-window {
  text-align: left;
}
