/* Styles specific to the Post a Bid page */
#map {
  height: 100%;
  min-height: 500px;
  min-width: 500px;
}

h4 {
  color: black;
}

.hero {
  background-image: url("..//img/post-bid-bg.png");
}

/* Info box styles
===================*/

#content {
  width: 400px;
  text-align: left;
}

#content p {
  text-align: left;
  padding-left: 10px;
  padding-right: 35px;
}


.send-to-job-board {
  text-align: center;
  margin-bottom: 1em;;
}

.send-to-job-board h4 {
  font-size: 20px;
  margin-top: 2.4em;
}

#more-bids {
  font-size: 12px;
}
