body {
  font-family: 'Open Sans', sans-serif;
}

h2 {
  text-align: center;
}

h3 {
  line-height: 150%;
}

p {
  text-align: center;
}

iframe {
  display: block;
  margin: 0 auto;
}

a {
  color: #C62828;
}

a:hover {
  color: #C62828;
}

.img-responsive {
  background-size: cover;
  width:100%;
}

/* Buttons
======================*/
.btn-primary {
  background-color: #C62828;
  border: solid #C62828;
}

.btn-primary:hover {
  background-color: white;
  border: solid #C62828;
  color: #C62828;
}

.btn-primary:focus {
  background-color: #C62828;
  border: solid #C62828;
}

.btn-primary:focus:hover {
  background-color: white;
  border: solid #C62828;
  color: #C62828;
}

.centerButton {
  margin: auto;
  text-align: center;
}

.interestedButton:hover {
  background-image:none;
  background-color:#B4C60B;
  color: white;
}

.homepageButtons {
  margin-top: 70px;
  max-width: 850px;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.imageButton1:hover {
  border: 3px solid #C62828;
}

.imageButton2:hover {
  border: 3px solid #C62828;
}

/* Main Navigation
======================*/
.navbar-default .navbar-brand {
  font-size: 24px;
  color: #C62828;
}

.navbar-default .navbar-nav > li > a:hover,
.navbar-default .navbar-nav > li > a:focus {
    color: white;
    background-color: #C62828;
}

.navbar-default .navbar-nav > .active > a {
  color: #C62828;
}

.navbar-default .navbar-nav > .active > a:hover {
  color: white;
  background-color: #C62828;
}

.navbar-default .navbar-nav > li > a .nav-btn:hover {
  color: white;
  background-color: #C62828;
}

/* Global Footer
======================*/
.footer {
  padding-top: 20px;
  padding-bottom: 20px;
}

/* Carousel
======================*/

.carousel-caption h1 {
  font-size: 40px;
}

.carousel-caption .lead {
  font-size: 24px;
}

.carousel-caption {
  text-shadow: 2px 2px black;
  padding-bottom: 100px;
}

#carousel-example-generic {
  margin-top: 50px;
}

/* Homepage
======================*/

.blueBackground {
  background-color: #ECEFF1;
  padding-top: 50px;
  padding-bottom: 50px;
}

.glyphicon {
  font-size: 5em;
  display: block;
  margin-left: auto;
  margin-right: auto;
  max-width: 100px;
  padding-top: 50px;
  padding-bottom: 20px;
}

/* Forms
======================*/
form {
  padding-top: 50px;
  width: auto;
  margin-left: 20px;
  margin-right: 20px;
}


.modal-body {
  width: auto;
}

/* Modals
======================*/

.modal-header {
  background-color: #C62828;
  color: white;
}

.modal-title {
  text-align: center;
  text-transform: uppercase;
}

.modal-body {
  text-align: center;
}

/* Map Styles
======*/

#map {
  height: 100%;
  min-height: 500px;
  min-width: 500px;
}

/* Hero Styles
===========*/

.hero {
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  display: table;
  width: 100%;
  padding-top: 25%;
}

.hero .intro {
  padding: 3rem;
  position: relative;
  top: 50%;
  transform: translateY(-55%);
  }

.hero h1 {
  color: #fff;
  font-size: 3em;
  line-height: 1.5em;
  letter-spacing: -0.025em;
  font-weight: 300;
  text-align: center;
  text-shadow: 2px 2px black;
}

.hero h2 {
  color: #fff;
  font-size: 1.8em;
  line-height: 1.5em;
  letter-spacing: -0.025em;
  font-weight: 300;
  text-align: center;
  text-shadow: 2px 2px black;
  margin-bottom: -45px;
}
