body {
  font-family: 'Open Sans', sans-serif;
}

h2 {
  text-align: center;
}

p {
  text-align: center;
}

iframe {
  display: block;
  margin: 0 auto;
}

.img-responsive {
  background-size: cover;
  width:100%;
}

/* Buttons
======================*/
.centerButton {
  margin: auto;
  text-align: center;
}

.nav-btn {
  margin-top: 7px;
}

/* Main Navigation
======================*/
.navbar-default .navbar-brand {
  font-size: 24px;
  color: #C62828;
}

.navbar-default .navbar-nav > li > a:hover,
.navbar-default .navbar-nav > li > a:focus {
    color: white;
    background-color: #C62828;
}

/* Global Footer
======================*/
.footer {
  padding-top: 20px;
  padding-bottom: 20px;
}

/* Carousel
======================*/

.carousel-caption {
  text-shadow: 2px 2px black;
}

/* How It Works
======================*/
.blueBackground {
  background-color: #ECEFF1;
  padding-bottom: 25px;
}

.icon {
  display: block;
  margin-left: auto;
  margin-right: auto;
  max-width: 100px;
  padding-top: 20px;
  padding-bottom: 20px;
}

/* Forms
======================*/
form {
  padding-top: 50px;
}

.form-control {
  width: 80%;
}
