<form action="addCar" method="post">
  <label for="year">Year</label><input type="number" name="year">
  <label for="make">make</label><input type="text" name="make">
  <label for="model">model</label><input type="text" name="model">
  <label for="miles">miles</label><input type="number" name="miles">
  <label for="price">price</label><input type="number" name="price">
  <label for="pic">pic</label><input type="text" name="pic">
  <input type="submit" name="submit" value="Add Car">
</form>
<div>
  @Model
</div>
