label, input {
  display:inline-block;
}
label {
    width:20%;
}
input {
  width: 79%;
}
input[type=submit] {
  width:100%;
  margin-bottom:20px;
}
input[name=search] {
  width:100%;
}
form{
  width:50%;
  text-align: center;
  margin:auto;
}
